[submodule "vendor/rtlsdr-odin"]
	path = vendor/rtlsdr-odin
	url = https://github.com/grplyler/rtlsdr-odin.git
[submodule "vendor/offt"]
	path = vendor/offt
	url = https://github.com/grplyler/offt.git
[submodule "vendor/raylay"]
	path = vendor/raylay
	url = https://github.com/grplyler/raylay.git
